<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

    <%= render 'layouts/header' %>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Dashboard
          <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
          <li class="active">
            <a href="#">
              <i class="fa fa-home"></i>
              Home Page</a>
          </li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
              <div class="inner">
                <h3><%=@items.sum(:quantity)%></h3>
                <h4>Daily Book</h4>
              </div>
              <div class="icon">
                <i class="ion ion-search"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <a href="/accounts">
          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
              <div class="inner">
                <h3><%=@items.sum(:remaining_quantity)%></h3>
                <h4>Accounts</h4>
              </div>
              <div class="icon">
                <i class="ion ion-checkmark"></i>
              </div>
            </div>
          </div>
        </a>
          <!-- ./col -->
          <a href="/items">
          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
              <div class="inner">
                <h3><%= (@items.sum(:quantity) - @items.sum(:remaining_quantity)) %></h3>
                <h4>Stock Register</h4>
              </div>
              <div class="icon">
                <i class="ion ion-alert"></i>
              </div>
            </div>
          </div>
        </a>
          <!-- ./col -->
          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
              <div class="inner">
                <h3><%= @expired.count %></h3>
                <h4>Customers</p>
              </div>
              <div class="icon">
                <i class="ion ion-android-time"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <%= render 'layouts/footer' %>
    <script>
      $.widget.bridge('uibutton', $.ui.button);
    </script>
    <script>
      $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": false,
          "ordering": true,
          "info": true,
          "autoWidth": false
        });
      });
    </script>
  </body>
