<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <%= render 'layouts/header' %>
    <div class="content-wrapper">

      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Cart
          <small>Items</small>
        </h1>
        <ol class="breadcrumb">
          <li>
            <a href="#">
              <i class="fa fa-home"></i>
              Home Page</a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-item"></i>
              Check Inventory</a>
          </li>
          <li class="active">Cart</li>
        </ol>
      </section>

      <section class="content">
        <div class="row">
          <div class="col-xs-12">
            <!-- Main data table -->
            <div class="box">
              <%#= link_to 'Cart', cart_path(current_cart), class: "btn btn-primary pull-right" %>
              <!-- /.box-header -->
              <div class="box-body">
                <%= form_tag orders_path, method: :post do %>
                <%= text_field_tag :name, nil, placeholder:"Enter customer name", value: "No Name", required: true%>
                <%= hidden_field_tag :id, nil, value: @cart.id %>
                
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Item Name</th>
                      <th>Price</th>
                      <th>Quantity</th>
                      <th>SubTotal</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @cart.line_items.each do |item| %>
                    <tr>
                      <td><%= item.item.name %></td>
                      <td><%= item.price %></td>
                      <td><%= item.quantity %></td>
                      <td><%= item.sub_total.to_i %></td>
                      <td><%= link_to 'Remove', remove_cart_path(id: @cart.id, item_id: item.id) %></td>
                    </tr>
                    <% end %>
                    <tr>
                      <td colspan="3">&nbsp;</td>
                      <td><strong>Total</strong></td>
                      <td><%= @cart.total_price %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.box-body -->
            </div>
          </div>
        </div>
      </section>
      <%= link_to 'clear receipt', clear_cart_path(id: @cart.id), class:"btn btn-primary"%>
      <%= submit_tag("Proceed Order", class:"btn btn-warning")%>
      <%end%>
    </div>
    <%= render 'layouts/footer' %>
  </div>
</body>