<p id="notice"><%= notice %></p>

<p>
  <strong>Account:</strong>
  <%= @payment.account %>
</p>

<p>
  <strong>Customer name:</strong>
  <%= @payment.customer_name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Status:</strong>
  <%= @payment.status %>
</p>

<p>
  <strong>Current balance:</strong>
  <%= @payment.current_balance %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
